@font-face {
  font-family: Days One;
  src: url(../fonts/DaysOne-Regular.ttf);
}
@font-face {
  font-family: Sancreek;
  src: url(../fonts/Sancreek-Regular.ttf);
}
@font-face {
  font-family: RobotoMono Bold;
  src: url(../fonts/RobotoMono-Bold.ttf);
}
@font-face {
  font-family: RobotoMono Regular;
  src: url(../fonts/RobotoMono-Regular.ttf);
}
